# Effectiveness of Remote Employeesüìù

![Banner](./assets/banner.jpeg)

## Topic
*What problem are you (or your stakeholder) trying to address?*
üìù <!-- Answer Below -->
Many companies, esspecially in the IT sector, allowed employees to work from home during covid and some have continued the trend. It is still unclear if employers should allow their employees to work from home. I find this esspecially interesting since I find that my productivity drops drastically when I am in office but as I understand it most people are far more productive in the office than at home.

## Project Question
*What specific question are you seeking to answer with this project?*
*This is not the same as the questions you ask to limit the scope of the project.*
üìù <!-- Answer Below -->
Does working from home ultimately benifit employees and employeers?

## What would an answer look like?
*What is your hypothesized answer to your question?*
üìù <!-- Answer Below -->
Some visualizations like bar charts to show productivity changes over time, heatmaps to explore factors influencing productivity, and pie charts for comparing remote vs. in-office work outcomes could be a part of the answer. Ultimately I think the answer to this question will be data comparing factors like mental health, stress, productivity, engagement, coworker relations, and company profit (specifically looking at costs of outfitting employees to work from home vs housing them in an office and potentially having to do both) before and after remote work to see how the numbers stack up for both sides.

## Data Sources
*What 3 data sources have you identified for this project?*
*How are you going to relate these datasets?*
üìù <!-- Answer Below -->
3 Data Sources:
- Teleworking during the pandemic (https://www.kaggle.com/datasets/mpwolke/cusersmarildownloadsremotexlsx?resource=download)
- Remote Work Productivity (https://www.kaggle.com/datasets/mrsimple07/remote-work-productivity)
- Top challenges and advantages of remote work (https://www.gallup.com/401384/indicator-hybrid-work.aspx)

I don't see ways to merge these specific datasets (though I may discover and merge others later) but mostly I plan to syntesize the data from multiple of these sources to create graphics by putting data on differnet topics side by side to show pros and cons of remote work.

## Approach and Analysis
*What is your approach to answering your project question?*
*How will you use the identified data to answer your project question?*
üìù <!-- Start Discussing the project here; you can add as many code cells as you need -->

In [5]:
# Start your code here
import pandas as pd

In [31]:
productiviy_df = pd.read_csv(r'Data_Sources\remote_work_productivity.csv')

# TWDP_df = pd.read_excel(r'Data_Sources\remote.xlsx') <- This has header rows and such that will require a lot of formatting to read in so it feels outside the scope of this checkpoint

advantagesDict = {}
challengesDict = {}
with open(r'Data_Sources\Top_Adv_Chlng.csv', 'r') as file:
    lineNumber = 0
    for line in file.readlines():
        lineNumber += 1
        if lineNumber in [3, 4, 5, 6, 7]:
            lineParts = line.strip().split(',')
            advantagesDict[lineParts[0]] = lineParts[1]
        elif lineNumber in [10, 11, 12, 13, 14, 15]:
            lineParts = line.strip().split(',')
            challengesDict[lineParts[0]] = lineParts[1]
        elif lineNumber == 16:
            lineParts = line.strip().split(',')
            key = f'{lineParts[0]},{lineParts[1]}'
            challengesDict[key] = lineParts[2]

adv_df_setup = {'Top Advantages': advantagesDict.keys(), 
            '% Selected as Benefits': advantagesDict.values()}
 
challenge_df_setup = {'Top Challenges': challengesDict.keys(), 
            '% Selected as Challenges': challengesDict.values()}

adv_df = pd.DataFrame(adv_df_setup)
challenge_df = pd.DataFrame(challenge_df_setup)

In [17]:
adv_df

                                      Top Advantages % Selected as Benefits
0                         Improved work-life balance                     76
1  More efficient use of my time throughout the d...                     64
2                    Less burnout or fatigue at work                     61
3        More freedom to choose when or where I work                     57
4                                Higher productivity                     52

In [32]:
challenge_df

                                      Top Challenges % Selected as Challenges
0        Less access to work resources and equipment                       31
1   Feel less connected to my organization's culture                       28
2               Decreased collaboration with my team                       24
3       Impaired working relationship with coworkers                       21
4  Reduced cross-functional communication and col...                       18
5                                Disrupted processes                       17
6  "More difficult to coordinate work schedules, ...                       17

In [21]:
productiviy_df

,Employee_ID,Employment_Type,Hours_Worked_Per_Week,Productivity_Score,Well_Being_Score
0,1,Remote,29,75,78
1,2,In-Office,45,49,47
2,3,Remote,34,74,89
3,4,Remote,25,81,84
4,5,Remote,50,70,74
...,...,...,...,...,...
995,996,Remote,33,88,82
996,997,Remote,33,88,73
997,998,In-Office,45,74,61
998,999,In-Office,57,50,52
999,1000,Remote,34,80,82

## Resources and References
*What resources and references have you used for this project?*
üìù <!-- Answer Below -->
- https://docs.python.org/3/library/stdtypes.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [33]:
# ‚ö†Ô∏è Make sure you run this cell at the end of your notebook before every submission!
!jupyter nbconvert --to python source.ipynb

[NbConvertApp] Converting notebook source.ipynb to python
[NbConvertApp] Writing 4493 bytes to source.py